body {
  margin: 0;
  font-family: 'Secular One', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

span {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New'
}

a {
  color: rgb(41, 96, 199);
}

.fff {
  font-size: 25px;
  color: black;
}
.f {
  font-size: 20px;
  color: black;
  font-weight: 600;
}
.img {
  border-radius: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
